<h2>Edit your account</h2>
<%= simple_form_for current_user, :url => account_path, :method => :put do |f| %>
  <%= render "form_fields", :f => f %>
  <%= f.button :submit, :value => "Submit" %>
<% end %>

<%= link_to "Link Your Highrise Account", new_token_path, :id => "authorize_highrise", :class => "btn btn-primary" %>