<h2>Reset Your Password</h2>

<%= simple_form_for @user, :url => account_path, :method => :put do |f| %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, "Save", :class => "button primary" %>
<% end %>
