<div id="deal-visualization"></div>

<script type="text/javascript">
  <%= render :partial => "google_chart", :formats => [:js], :locals => { :chart => chart, :chart_options => chart_options } %>
</script>
