<h2>Deals</h2>
<%= render "table", :deals => deals, :klass => "deals" %>

<%= render "chart", :chart => @chart %>

<h3>Deals Missing Data</h3>
<%= render "table", :deals => deals_missing_data, :klass => "deals-missing-data" %>