<h2>Deals</h2>
<%= render "table", :deals => deals, :klass => "deals" %>

<%= render :partial => "chart",
           :locals  => {
              :chart         => @chart,
              :chart_options => {
                  :title  => "Projects by Month (Budget/Project Duration)",
                  :legend => "right" }
              }
%>

<%- if deals_missing_data.any? -%>
  <h3>Deals Missing Data</h3>
  <%= render "table", :deals => deals_missing_data, :klass => "deals-missing-data" %>
<%- end -%>